<mat-card class="card">
  <h2>Editar Mensaje</h2>    
  <form class="form">
    <mat-form-field class="form-field">
      <input matInput
      type="text" 
      name="nombre"
      placeholder="Nombre"
      [(ngModel)]="nombre">
      
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput
      type="text" 
      name="correo"
      placeholder="Correo"
      [(ngModel)]="correo">
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput
      type="text" 
      name="mensaje"
      placeholder="Mensaje"
      [(ngModel)]="mensaje">
      </mat-form-field>

  </form>

  <button mat-raised-button color="primary"
  (click)="editar()"
  >
  Guardar Cambios
  </button>
</mat-card>