<mat-card class="card">
  <h2>Iniciar sesión</h2>    
  <form class="form">
    <mat-form-field class="form-field">
      <input matInput
      type="email" 
      name="correo"
      placeholder="Correo"
      required
      [(ngModel)]="correo">
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput
      type="password" 
      name="clave"
      placeholder="Clave"
      required
      [(ngModel)]="clave">
      </mat-form-field>
  </form>
  <p *ngIf="mensaje"><small>{{mensaje}}</small></p>
  <button mat-raised-button color="primary"
  (click)="autenticar()"
  >
  Iniciar sesión
  </button>
</mat-card>