/* You can add global styles to this file, and also import other style files */
@import './css/mixins';

@import './css/app';
@import './css/mensaje';

@import './css/hooks';

.hidden{
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.title{
    color:#FFF;
    text-decoration: none;
}