.section{
    grid-area: section;
    height: 80vh;
    overflow-y: scroll;
    .image-list{
        @include setSpacing(0);
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;        
        .image-list-item{
            @include setSpacing(0);
        }
    }

}
@include mobile{
    .section{
        height: auto;
        .image-list{
            flex-flow: column;
            .image-list-item{
                .image{
                    max-width: 100px;
                }
            }
        }
    }
}