
$main-color:#999999;

.card{
    margin:10px auto;
    width:220px;
    text-align: center;
    .form{
        .field{
            width: 100%;
            .input{
                color:$main-color;
                text-align: end;
            }
        }
    }
    .buttonNumber{
        margin:2px;
    }
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }