  <mat-toolbar color="primary">
    Chat
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Inicio</button>
      <button *ngIf="isAuthenticated" mat-menu-item routerLink="/message">Mensajes</button>     
      <button *ngIf="isAuthenticated" mat-menu-item (click)="signOut()">Cerrar Sesión</button>
    </mat-menu>

    <form class="form">  

    <ng-template #authenticated>
      <p *ngIf="message">{{ message }}</p>
      <router-outlet></router-outlet>      
    </ng-template>
    
    <ng-template #notAuthenticated>
        <p *ngIf="message">{{ message }}</p>
        <mat-form-field class="form-field-input-name">
            <input matInput placeholder="Usuario" [(ngModel)]="user" name="user" required>
          </mat-form-field>  
          <mat-form-field class="form-field-input-message">
            <input matInput placeholder="Password"  type="password" [(ngModel)]="password" name="password" required>
          </mat-form-field>
          <button class="form-button" mat-stroked-button (click)="authenticate(user, password)" color="primary">
            Entrar
          </button>       
    </ng-template>
  </form>      

  </mat-toolbar>

  <div *ngIf="isAuthenticated then authenticated; else notAuthenticated">

  </div>